{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#contentFor "stylesheet"}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/construction.css"}}" />
{{/contentFor}}

<header class="site-header">
    {{> site-header}}
</header>

<main id="site-main" class="site-main outer error-content">
    <div class="inner">
        <section class="error-message">
            <div id="outerCraneContainer">
                <div class="buildings">
                    <div></div>
                    <div class="1"></div>
                    <div class="2"></div>
                    <div class="3"></div>
                    <div class="4"></div>
                </div>
                <div class="crane craneThree">
                    <div class="line lineOne"></div>
                    <div class="line lineTwo"></div>
                    <div class="line lineThree"></div>
                    <div class="stand"></div>
                    <div class="weight"></div>
                    <div class="cabin"></div>
                    <div class="arm"></div>
                </div>
                <div class="crane craneTwo">
                    <div class="line lineOne"></div>
                    <div class="line lineTwo"></div>
                    <div class="line lineThree"></div>
                    <div class="stand"></div>
                    <div class="weight"></div>
                    <div class="cabin"></div>
                    <div class="arm"></div>
                </div>
                <div class="crane craneOne">
                    <div class="line lineOne"></div>
                    <div class="line lineTwo"></div>
                    <div class="line lineThree"></div>
                    <div class="stand"></div>
                    <div class="weight"></div>
                    <div class="cabin"></div>
                    <div class="arm"></div>
                </div>
            </div>
        </section>

        {{#get "posts" limit="3" include="authors,tags"}}
            <div class="post-feed">
                {{#foreach posts}}
                    {{> "post-card"}}
                {{/foreach}}
            </div>
        {{/get}}
    </div>
</main>