
.post-full-header {
    padding: 50px;
}

.post-full-meta {
    text-align: center;
}

.post-full-meta a {
    color: inherit;
}

/* fix default 0 margin */
.post-full-content h2, .post-full-content h3, .post-full-content h4 {
    margin: 1.5em 0 .5em !important;
}

/* fix pictures overflow*/
.kg-gallery-container {
    width: unset;
}

/* fix font and background defined in prism */
.post-full-content pre, .post-full-content pre code, .post-full-content code span {
    font-size: 1.4rem !important;
    text-shadow: unset !important;
    background: #f5f6f7 !important;
}

/* Progress Circle*/

.progress {
    position: sticky;
    height: 40px;
    width: 40px;
    overflow: visible;
    bottom: 80px;
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 2px 4px #6c6c6c33,0 0 0 transparent;
    cursor: pointer;
}

.icon-arrow-top {
    height: 17px;
    width: 17px;
    margin-top: -7px;
    color: #616161;
    position: absolute;
}

/* TOC */

/* fix 0 margin top defined in theme*/
.toc li:first-child {
    margin-top: .5em;
}

.toc {
    overflow-y: auto
}

.toc > .toc-list {
    overflow: hidden;
    position: relative
}

.toc > .toc-list li {
    list-style: none;
    white-space: nowrap;
}

.toc-list {
    margin: 0;
    padding-left: 10px
}

a.toc-link {
    color: currentColor;
    height: 100%
}

.is-collapsible {
    max-height: 1000px;
    overflow: hidden;
    transition: all 300ms ease-in-out
}

.is-collapsed {
    max-height: 0
}

.is-position-fixed {
    position: fixed !important;
    top: 0
}

.is-active-link {
    font-weight: 700
}

.toc-link::before {
    background-color: #EEE;
    content: ' ';
    display: inline-block;
    height: inherit;
    left: 0;
    margin-top: -1px;
    position: absolute;
    width: 2px;
    transition: all 300ms ease-in-out
}

/* default color #3eb0ef*/
.is-active-link::before {
    background-color: #ED664C;
}

.post-sidebar {
    order: 1;
    font-size: 1.6rem;
}

.post-sidebar-container {
    font-size: 1.5rem;
    position: sticky;
    top: 120px;
}

.toc-title {
    margin-left: 8px;
    font-size: 1.4em;
    font-family: Georgia, serif, Microsoft JhengHei;
    cursor: default;
}

.post-sidebar .toc {
    min-width: 360px;
    line-height: 1.6em;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif, Microsoft JhengHei;
    padding-left: 0.8em;
}

body {
    overflow: visible;
}

.post-full-content {
    display: grid;
    grid-gap: 20px;
    padding: 0 0 6vw;
    margin: 0;
}

ol.toc-list {
    margin: 0;
}

/* Adjust content wrapper */
.post-content {
    display: block;
}

.post-content h2,
.post-content h3 {
    outline: none;
}

/* Offset headings from fixed header */
.post-content h2::before,
.post-content h3::before {
    display: block;
    content: " ";
    height: 84px;
    margin-top: -84px;
    visibility: hidden;
}

.post-full-content pre {
    max-width: 0;
}

/* mobile*/

@media (max-width: 1170px) {
    .post-sidebar {
        display: none !important;
    }
    .post-full-content {
        grid-template-columns: unset !important;
    }
    .progress {
        display: none;
    }
}
